body {
    margin: 0;
    font-family: Arial, sans-serif;
}

footer {
    background: #1c1f26;
    color: #fff;
    padding: 70px 50px;
    text-align: center;
    
    


}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    gap: 50px;
    
}

.footer-box {
    flex: 1;
    margin: 10px;
    min-width: 250px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    
}

.footer-box h3 {
    font-family: "Brush Script MT", cursive;
    margin-bottom: 15px;
    font-size: 23px;
}

.footer-box p,
.footer-box a {
    font-size: 15px;
    color: #ccc;
    text-decoration: none;
    display: block;
    margin: 5px 0;
    gap: 50px;
    
}

.footer-box span:hover {
    color: #ff9800;
    

}

.footer-box a:hover {
    color: #fff;
}

.social-icons {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.social-icons a {
    color: #fff;
    font-size: 19px;
    margin: 0 8px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #ff9800;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
}

.footer-box i:hover {
    color: #ff9800;
}
span{
    gap: 50px;
    font-size: 14px;
    color: #bbb;
}